header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  nav {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .github-icon-container {
    height: 45px;
    width: 45px;
    border-radius: 9999px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page {
}

.title {
  font-size: 5rem;
  margin-top: 40px;
  text-align: center;
  color: var(--text-color);
}

.image-example-container {
  height: 600px;
  display: flex;
  justify-content: center;
}

.image-example {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
}

footer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .credits {
    font-size: 1.4rem;
    color: var(--text-color);
  }
}

pre {
  background-color: #21252b;
  padding: 20px;
  margin: 0 0 2em;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.section {
  margin-top: 20px;
  .title {
    font-size: 3rem;
  }
  color: #ffffff;
}

.no-select {
  user-select: none;
}
