:root {
  --text-color: #ffffff;
  --main-bg-color: #44475a;
  --pink: #ee88ad;
}

a {
  color: var(--text-color);
  &:hover {
    color: var(--text-color);
  }
}

body {
  background-color: var(--main-bg-color);
  // font-family: "Pacifico", cursive;
  // font-family: "IBM Plex Mono", monospace;
  // font-family: "IBM Plex Sans", sans-serif;
  font-family: "Source Code Pro", monospace;

  font-size: 16px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  nav {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .github-icon-container {
    height: 45px;
    width: 45px;
    border-radius: 9999px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the image */
}
.logo-container {
  margin-top: 50px;
  width: 600px;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 5rem;
  margin-top: 40px;
  text-align: center;
  color: var(--text-color);
}

.image-example-container {
  height: 600px;
  display: flex;
  justify-content: center;
}

.image-example {
  height: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
}

footer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .credits {
    font-size: 1.4rem;
    color: var(--text-color);
  }
}

pre {
  background-color: #21252b;
  padding: 20px;
  margin: 0 0 2em;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.section {
  margin-top: 20px;
  .title {
    font-size: 3rem;
  }
  color: #ffffff;
}

.no-select {
  user-select: none;
}
